<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.shareus.bot.robot.mapper.NonsenseMapper">
    <resultMap id="BaseResultMap" type="top.shareus.bot.common.domain.Nonsense">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="content" column="content" jdbcType="VARCHAR"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
        <result property="sendTimes" column="send_times" jdbcType="BIGINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,content,create_time,
        update_time,send_times
    </sql>
</mapper>
